body {
  margin: 0;
  padding: 0;

  font-family: "Garamond", Georgia, Times, serif; 
  color: #4D8DB3;
  font-size: 18px;
}

.main-container {
  margin: 0 auto;
  max-width: 1050px;

  font-family: "Garamond", Georgia, Times, serif; 
}
 
p.

.navbar-header{

color: #353866;

}
p.style1{
	color:#291B34;
}

.cf:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.cf { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.cf { display: block; }

.content-container {
	margin: 0 auto;
	max-width: 650px;
  padding:0 20px;
}

hr.style1 {
	border-top: 1px dashed #4D8DB3;
}

h1.style1 {
	color:#184870;
}